# Build Results
[Bb]in/
[Oo]bj/

# Mac System Files
.DS_Store

# IDE Files
.idea/
.vscode/
*.user
*.suo

# Environment Config (Optional but recommended)
appsettings.Development.json

# Uploaded Assets
SocialFeed.API/wwwroot/uploads/*
!SocialFeed.API/wwwroot/uploads/.gitkeep