name: Deploy Backend

on:
  push:
    branches:
      - main
    paths:
      - 'SocialFeed.API/**'
      - 'Dockerfile'
      - '.github/workflows/backend.yml'

env:
  PROJECT_ID: social-feed-app-9194 # TODO: Update if different
  REGION: us-central1
  SERVICE_NAME: social-feed-api
  REPO_NAME: social-feed-app-9194

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Google Auth
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker
        run: gcloud auth configure-docker

      - name: Build and Push Container
        run: |-
          docker build -t gcr.io/${{ env.PROJECT_ID }}/api:${{ github.sha }} -f Dockerfile .
          docker push gcr.io/${{ env.PROJECT_ID }}/api:${{ github.sha }}

      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: ${{ env.SERVICE_NAME }}
          region: ${{ env.REGION }}
          image: gcr.io/${{ env.PROJECT_ID }}/api:${{ github.sha }}
          env_vars: |
            GCP__BucketName=social-feed-images
            ConnectionStrings__DefaultConnection=${{ secrets.DB_CONNECTION_STRING }}
